
body {
    background-image: url("../images/b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'IBM Plex Mono', sans-serif;
}


[x-cloak] {
    display: none;
}

.line {
    background: repeating-linear-gradient(to bottom, #eee, #eee 1px, #fff 1px, #fff 8%);
}

.tick {
    background: repeating-linear-gradient(to right, #eee, #eee 1px, #fff 1px, #fff 5%);
}

/* Additional styles to align charts and data cards */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2em;
    flex-wrap: wrap;
}

.chart-item {
    flex-basis: 45%;
    margin: 30px;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media (max-width: 991.98px) {
    .padding {
        padding: 1.5rem;
    }
}

@media (max-width: 767.98px) {
    .padding {
        padding: 1rem;
    }
}

.padding {
    padding: 5rem;
}

.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(19, 24, 44, .03);
    border-bottom: 1px solid rgba(19, 24, 44, .125);
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

card-footer,
.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box;
}

/*cards*/
* {
    box-sizing: border-box;
}

.page-contain {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    /*background: #e7f3f1;*/
    /*border: none;*/
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
    /*width: 100%;*/
    box-sizing: border-box;
}


.data-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 12em;
    overflow: hidden;
    border-radius: 0.5em;
    text-decoration: none;
    background: white;
    margin: 1em;
    padding: 1.75em 1.5em;
    box-shadow: 0 1em 1.5em -0.25em rgba(0, 0, 0, .1);
}

.data-card h3 {
    color: #2e3c40;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 0.5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid #753bbd;
    transition: color 0.45s ease, border 0.45s ease;
}

.data-card h4 {
    color: #627084;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color 0.45s ease;
}

.data-card .link-text svg {
    margin-left: 0.5em;
    transition: transform 0.6s ease;
}

.data-card .link-text svg path {
    transition: fill 0.45s ease;
}

.data-card:hover {
    /*background: #753bbd;*/
    background: #313443;
    transform: scale(1.02);
}

.data-card:hover h3 {
    color: #fff;
    border-bottom-color: #a754c4;
}

.data-card:hover h4 {
    color: #fff;
}

.data-card:hover .link-text {
    color: #fff;
}

.data-card:hover .link-text svg {
    animation: point 1.25s infinite alternate;
}

.data-card:hover .link-text svg path {
    fill: #fff;
}

@keyframes point {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0.125em);
    }
}

@media (max-width: 767.98px) {
    .chart-container {
        flex-wrap: wrap;
    }

    .chart-item {
        flex-basis: 100%;
    }
}